#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Application
Encoding=UTF-8
Exec=lxterminal --command "sudo ./pi-broadcast"
MimeType=application/x-sh
Name=pi-broadcast
Path=~/Downloads/pi-broadcast
Terminal=false
Type=Application
Version=1.0
